= simple_form_for(@client) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, required: true, autofocus: true, label: t("client.form.name")
    = f.input :description, required: false, label: t("client.form.description")
    = f.button :submit
